body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "Roboto";
    padding: 0px;
}

.header {
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(108, 255, 255);
    color:rgba(118, 8, 133, 0.74)
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 10px;
}

.headerlink {
    text-decoration: none;
    color: rgba(118, 8, 133, 0.74);
}

.hero {
    flex: auto;
    display: flex;
    padding: 50px 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: pink;
    color: white;
}

.hero-texts {
    flex: 1;
    max-width: 350px;
}

.hero-header {
    font-size: 48px;
    margin-bottom: 0px;
}

.hero-text {
    font-size: 18px;
}

.hero-button, .cta-button {
    border-radius: 10px;
    font-size: 24px;
    padding: 5px 16px;
    background-color: rgba(195, 72, 211, 0.74);
    color: white;
    border-color: white;
}

.hero-img {
    flex: 1;
    max-width: 500px;
    min-width: 0px;
    border-radius: 5px;
    margin: 10px;
    border-color: white;
    border-style: solid;
}

.info {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: white;
}

.info-header {
    flex: auto;
    text-align: center;
    font-size: 36px;
    font-weight: 900px;
}

.pictures {
    flex: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}

.info-part {
    flex: 1;
    max-width: 200px;
    text-align: center;
}

.info-img {
    max-width: 200px;
    border-radius: 5px;
    border-color: rgb(108, 255, 255);
    border-style: solid;
}

.quote {
    flex: auto;
    background-color: pink;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.quote-text {
    max-width: 500px;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 0px;
    padding: 10px;
}

.quote-name {
    text-align: right;
    font-weight: 900;
    font-size: 30px;
    margin-top: 0px;
}

.cta {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(108, 255, 255);
}

.cta-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: pink;
    padding: 30px 60px;
    margin: 60px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

.cta-header {
    margin-bottom: 0px;
}

.cta-text {
    margin-top: 0px;
}

.footer {
    flex: auto;
    text-align: center;
    background-color: #1F2937;
    color: white;
}