body {
    display: flex;
    flex-flow: column;
    margin: 0px;
    font-family: "Roboto";
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(108, 255, 255);
    color:rgba(118, 8, 133, 0.74)
}

.header-links {
    display: flex;
    gap: 10px;
}

.headerlink {
    text-decoration: none;
    color: rgba(118, 8, 133, 0.74);
}

.hero {
    display: flex;
    padding: 20px 20px;
    padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
    color: white;
}

.hero-texts {
    flex: 1;
    max-width: 800px;
}

.hero-header {
    font-size: 48px;
    margin-bottom: 0px;
}

.hero-text {
    font-size: 18px;
}

.hero-button {
    border-radius: 10px;
    font-size: 24px;
    padding: 0px 16px;
    background-color: rgba(195, 72, 211, 0.74);
    color: white;
    border-color: white;
}

.hero-img {
    flex: 1;
    max-width: 800px;
    border-radius: 5px;
    margin: 10px;
    border-color: white;
    border-style: solid;
}

.info {
    flex: 1;
    padding: 10px 20px;
    background-color: white;
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900px;
}

.pictures {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info-part {
    flex: 1;
    max-width: 200px;
    text-align: center;
}

.info-img {
    max-width: 200px;
    border-radius: 5px;
    border-color: rgb(108, 255, 255);
    border-style: solid;
}